/* Toggle Switch */
.nt-toggle {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.nt-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.nt-toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.nt-toggle-slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.nt-toggle input:checked + .nt-toggle-slider {
    background-color: #2196F3;
}

.nt-toggle input:focus + .nt-toggle-slider {
    box-shadow: 0 0 1px #2196F3;
}

.nt-toggle input:checked + .nt-toggle-slider:before {
    transform: translateX(20px);
}
